body {
	margin: 0;
}

h2 {
	padding-top: 5px;
	background: #C00000;
	color: white;
	font-family: Verdana;
	margin: 0;
    text-align: center;
    line-height: 30px;
}

#search_results {
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 0px;
}

#title {
	text-align: center;
	background-color: blue;
}